.boton {
    font-size: 20px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    color: #fff; /* Color del texto */
    background-color: #4CAF50; /* Color de fondo principal */
    border: none; /* Borde del botón */
    padding: 15px 32px; /* Relleno del botón */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Decoración del texto */
    display: inline-block; /* Establece el botón como un elemento en línea */
    margin: 4px 2px; /* Margen exterior del botón */
    cursor: pointer; /* Estilo del cursor */
    position: relative; /* Posición del botón */
  }
  
  .boton::before {
    content: ""; /* Crea un elemento pseudo-antes */
    position: absolute; /* Posición absoluta */
    top: 0; /* Posición superior */
    left: 0; /* Posición izquierda */
    width: 100%; /* Ancho al 100% */
    height: 100%; /* Altura al 100% */
    background-color: #2196F3; /* Color de fondo secundario */
    transform: perspective(5px) rotateX(2deg); /* Transformación 3D */
    z-index: -1; /* Posición z */
    transition: transform 0.3s ease-in-out; /* Transición */
  }
  
  .boton:hover::before {
    transform: perspective(5px) rotateX(-2deg) translateY(2px); /* Transformación 3D al pasar el cursor */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra del botón */
  }
  