.footer {
    background-color: #333;
    color: #fff;
    height: 10vh;
    padding: 1vh;
    text-align: center;
    left: 0;
    bottom: 4vh;
    width: 98.9%;
    max-width: 100%;
  }
  
  .footer__content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer__text {
    font-size: 1.2vw;
    text-shadow: 2px 2px 3px black;
  }

  .footer__text2 {
    font-size: 0.9vw;
  }

  @media (max-width: 768px) {
    .footer{
        height: 3vh;
        width: 96vw;
        position: fixed;
        bottom: 0;
        left: 0;
        
    }
    .footer__text {
      text-shadow: 2px 2px 3px black;
    }
  }