.horarioBackground{
    display: flex;
    flex-direction: column;
    background-image: url('../images/backgrounds/mazinger47Derecha.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100.1vw;
}

.calendario{
    display: flex;
    padding-right: 30vw;
    flex-direction: row;
    justify-content: center;
    border-style: none;
    align-items: center;
    height: 70vh;
}

.horarioTitulo{
    display: flex;
    flex-direction: column;
    color: white;
}

/* --------------------------------------------------- */

/* Resto de tus estilos aquí */

.leyenda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%; /* Ajusta el margen superior al 5% del contenedor que contiene .leyenda */
  }
  
  .leyenda-item {
    display: flex;
    align-items: center;
    margin-right: 2%; /* Margen derecho del 2% del contenedor que contiene .leyenda-item */
  }
  
  .leyenda-color {
    width: 5%; /* Ancho del .leyenda-color al 5% del contenedor que contiene .leyenda-color */
    height: 0.3rem; /* Altura de .leyenda-color en unidades relativas (0.3 rem) */
    margin-right: 0.5%; /* Margen derecho del 0.5% del contenedor que contiene .leyenda-color */
    margin-left: 1%; /* Margen izquierdo del 1% del contenedor que contiene .leyenda-color */
  }
  
  .leyenda-text {
    font-size: 3vw; /* Tamaño de fuente del .leyenda-text en un 3% del ancho de la pantalla */
    color: white;
    text-shadow: 0.5vw 0.5vw 0.75vw black; /* Sombra de texto en unidades relativas */
  }

@media ( max-width: 768px){
    .horarioBackground{
      height: 80vh;
      margin-bottom: -6vh;
    }

    .calendario{
      padding: 2rem;
      height: 50vh;
    }

    .leyenda{
        flex-direction: column;
        /* padding-bottom: 4vh;
        padding-left: 4vh;
        padding-right: 4vh; */
    }

    .leyenda-text{
        font-size: 25px;
    }
}