.horarioBackground{
    display: flex;
    flex-direction: column;
    background-image: url('../images/backgrounds/mazinger47Derecha.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 99vw;
}

.calendario{
    display: flex;
    padding-right: 30vw;
    flex-direction: row;
    justify-content: center;
    border-style: none;
    align-items: center;
    height: 70vh;
}

.horarioTitulo{
    display: flex;
    flex-direction: column;
    color: white;
}

/* --------------------------------------------------- */

/* Resto de tus estilos aquí */

.leyenda {
    display: flex;
    height: 3vh;
    flex-direction: row;
    justify-content: center;
    margin-top: 3.5%; /* Ajusta el margen superior al 5% del contenedor que contiene .leyenda */
  }
  
  .leyenda-item {
    display: flex;
    align-items: center;
    margin-right: 2%; /* Margen derecho del 2% del contenedor que contiene .leyenda-item */
  }
  
  .leyenda-color {
    width: 5%; /* Ancho del .leyenda-color al 5% del contenedor que contiene .leyenda-color */
    height: 0.3rem; /* Altura de .leyenda-color en unidades relativas (0.3 rem) */
    margin-right: 0.5%; /* Margen derecho del 0.5% del contenedor que contiene .leyenda-color */
    margin-left: 1%; /* Margen izquierdo del 1% del contenedor que contiene .leyenda-color */
  }
  
  .leyenda-text {
    font-size: 3vw; /* Tamaño de fuente del .leyenda-text en un 3% del ancho de la pantalla */
    color: white;
    text-shadow: 0.5vw 0.5vw 0.75vw black; /* Sombra de texto en unidades relativas */
  }

  .evento-container {
    width: 70%;
    display: flex;
    height: 60vh;
    border: 4px solid transparent; /* Borde transparente para el efecto metálico */
    background-image: linear-gradient(to right, #aaaaaab2, #ddd); /* Gradiente de fondo */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Sombra con brillo */
    border-radius: 5px; /* Borde redondeado para un aspecto más suave */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Separa los elementos en la parte derecha */
    margin:0 auto;/* Ajusta el espacio interior según tus necesidades*/
    margin-bottom: 2vh;
  }
  
  .evento-imagen {
    width: 30%;
  }
  
  .evento-imagen img {
    width: 30vw;
    max-width: 100%; 
    height: 60vh;
    display: block;
    border: 1px solid black;
    /*margin: 0 auto;  Centra horizontalmente la imagen */
  }
  
  .evento-info {
    margin-top: -6vh;
    border: 4px solid transparent white;
    height: 60vh;
    width: 70%; /* Ocupa el 65% del espacio del contenedor */
    text-align: center; /* Centra el texto dentro de este div */
  }
  
  .titulo {
    margin: 0 auto;
    height: 6vh;
    border:  10px grey;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    text-shadow: 1vw 1vw 1.25vw black; /* Sombra de texto en unidades relativas */
    text-align: center; /* Centra el título */
    margin-bottom: 10px; /* Espacio entre el título y la información */
  }
  
  .informacion {
    font-size: 2vh;
    margin: 1vb;
    text-align: justify; /* Justifica el texto de información */
    max-height: 100%;
    height: 40vh;
  }

  .h2-Informacion{
    /* margin: 0 auto; */
    text-align: center;
  }
  h4{
    text-align: center;
    color: black;
    /*-webkit-text-stroke: 0.00001px white;  Borde blanco de 2 píxeles (ajusta el valor según tu preferencia) */
    /* text-stroke: 2px white; */
  }
  

@media ( max-width: 768px){
    .horarioBackground{
      height: 80vh;
      margin-bottom: -6vh;
    }

    .calendario{
      padding: 2rem;
      height: 50vh;
    }

    .leyenda{
        flex-direction: column;
        /* padding-bottom: 4vh;
        padding-left: 4vh;
        padding-right: 4vh; */
    }

    .leyenda-text{
        font-size: 25px;
    }

    .horarioBackground{
      height: 170vh;
    }

    .cartelBackground{
      display: flex;
      height: 70vh;
      width: 80vw;
      align-self: center;
      border: solid 3px black;
      margin: 3vb;
    }
}