.background-miSitio{
  display: flex;
  flex-direction: column;
  background-image: url('../images/backgrounds/robotChicaRayosJuntopng-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100.1vw;
  height: 100vh;
}

.quienesSomos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 4vh;
  text-shadow: 2px 2px 3px black;
}

@media (max-width: 768px) {
  .background-miSitio{
    height: 141vh;
      margin-bottom: -5vh;
    padding-bottom: 0;
    /* background-size: cover; */
  }

  .quienesSomos{
    padding-bottom: 0;
    margin-bottom: 0;
    align-items: center;
  }

  .pFinal{
    padding-bottom: 0;
  }

  .pTexto{
    margin-top: 0;
    margin-right: 0;
    width: 90vw;
    text-align: justify;
    justify-items: center;
  }
}