.nosotrosMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 94%;
    width: auto;
    max-width: 100%;
    font-size: 4vh;
    text-shadow: 2px 2px 3px black;
}

.quienesSomosBackground{
    display: flex;
    flex-direction: column;
    background-image: url('../images/backgrounds/mazinger47Centro.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width: 100.1vw;
    color: white;
}





@media (max-width: 768px) {
    .quienesSomosBackground{
        height: 890vh;
        margin-top: 18vh;
        padding-bottom: -5vh;
      margin-bottom: -18vh;
    }
}