@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
  background-color: #FA9E05;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navBar ul li a {
  display: flex;
  justify-content: center;
  color: #000; /*Color Inicial*/
  transition: color 0.3s ease-in-out; /*Transición animada*/
  text-align: center;
  align-items: center;
}

.navBar ul li a:hover {
  display: flex;
  color: white; /* Color al pasar el cursor */
  /* pruebas */
  flex-shrink: 1;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
  display: flex;
  flex-direction: row;
  text-align: center;
  border-style: groove;
  border-color: #000;
  border-radius: 20px;
  font-size: auto;
  justify-items: auto;
  justify-content: center;
  text-align: right;
  padding: 20px;
  background-color: #A7095C;
}

.navBar{
  display: flex;
  flex-direction: column;
  text-decoration-color: aliceblue;
  background-color: #4A772F;
  height: 100px auto;
  font-size: 24px;
  border-bottom: 3px black solid;
  width: 100vw auto;
}

a{
  color:black;
  text-align: center;
}

.navList{
  display: flex;
  flex-direction: row;
  height: 40px auto;
  border-radius: 30px;
  border-style: none;
  border-color: white;
  list-style: none;
  justify-content: space-around;
  font-size: large;
  color:white;
  /* margin: 30px; */
  margin: left, right 10px; ;
  padding-right: 30px;
  text-align: center;
}



.App-header {
  background-color: #4A772F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}