@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@font-face {
  font-family: 'bodoni-72-smallcaps-book';
  src: url('../public/fonts/bodoni-72-smallcaps-book.ttf') format('truetype');
}

.header{
  height: 15vh;
}

body{
  display: flex;
  flex-direction: column;
  background-color: #0892a5;
  font-family: 'bodoni-72-smallcaps-book', sans-serif;
  padding-bottom: 8.5vh;
  width: 100%;
}

.App {
  text-align: center;
  font-family: 'bodoni-72-smallcaps-book';
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.navBar{
  background-image: url('./images/banner/fondoBanner.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  /* text-decoration-color: aliceblue; */
  background-color: #bb7e5d;  
  height: 15vh;
  border-bottom: 0.03em black solid;
  width: 100vw;
  font-family: 'Fun Party', sans-serif;
}

.liApp {
  display: flex;
  width: 100%;
  height: 5vh;
  flex-direction: row;
  text-align: center;
  border-style: groove;
  border-color: #000;
  border-radius: 3vh;
  font-size: 2.5vw;
  justify-items: auto;
  justify-content: space-between;
  padding: 1.5vw;
  background-color: #dbb68f;
}

.navBar ul li a {
  display: block;
  width: 100%;
  justify-content: center;
  color: #000; /*Color Inicial*/
  transition: color 0.3s ease-in-out; /*Transición animada*/
  text-align: center;
  align-items: center;
  font-size: 2vw;
}

.navBar ul li a:hover {
  display: flex;
  color: white; /* Color al pasar el cursor */
  /* pruebas */
  /* flex-shrink: 1; */
  font-size: 2.5vw;
  /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
}

.tituloNavBar{
  background-image: url('./images/banner/logoBanner.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* No es un fondo, es una imagen, no podemos tratarlo igual*/
  display: flex;
  flex-direction: column;
  margin: 1vh;
  margin-left: 3vw;
  padding-left: 2vw;
  padding-bottom: 3vh;
  height: 20vh;
  width: 25%;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(-40%);
}

/* .tituloNavBar img {
  max-width: 25%;
  min-height: 20vh;
  width: 25%;
  height: 20vh;
  object-fit: cover;
  transform: scale(2);
} */

.navList{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8vh;
  border-style: none;
  border-color: white;
  list-style: none;
  justify-content: space-around;
  font-size: 1.8vw;
  color:white;
  margin-right: 9vw;
  margin-left: 9vw;
  text-align: center;
}

footer{
  display: flex;
  text-align: center;
  justify-content: flex-end;
  background-color: gray;
  color: white;
}

/* Estilos para smartphones*/
@media (max-width: 768px){
  .navBar {
    height: 15vh;
    font-size: 6vw;
  }

  ul {
    height: auto;
    width: 20vw;
  }

  li{
    height: 8vh;
    width: 10vw;
    font-size: 4vw;
    font-size: 4vw;
  }

  .navBar ul li a:hover{
    font-size: 4vw;
  }

  .titulo {
    font-size: 6vw;
    height: 20vh;
  }

  .navList {
    height: 12vh;
    width: 50%;
    font-size: 4vw;
    /* margin-right: 5vw;
    margin-left: 5vw; */
  }

  footer {
    font-size: 3vw;
  }
}