@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
  background-color: #0892a5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navBar{
  display: flex;
  flex-direction: column;
  text-decoration-color: aliceblue;
  background-color: #bb7e5d;  
  height: 25vh;
  font-size: 4vw;
  border-bottom: 0.03em black solid;
  width: 100%;
  font-family: 'Fun Party', sans-serif;
}

li {
  display: flex;
  width: auto;
  height: 2vh;
  flex-direction: row;
  text-align: center;
  border-style: groove;
  border-color: #000;
  border-radius: 3vw;
  font-size: auto;
  justify-items: auto;
  justify-content: center;
  padding: 1.5vw;
  background-color: #dbb68f;
}

.navBar ul li a {
  display: flex;
  justify-content: center;
  color: #000; /*Color Inicial*/
  transition: color 0.3s ease-in-out; /*Transición animada*/
  text-align: center;
  align-items: center;
}

.navBar ul li a:hover {
  display: flex;
  color: white; /* Color al pasar el cursor */
  /* pruebas */
  flex-shrink: 1;
  font-size: 30px;
  /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
}

.titulo{
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  color:black;
  height: 15vh;
  width: 100%;
}

.navList{
  display: flex;
  flex-direction: row;
  align-items: center   ;
  height: 9vw;
  border-radius: 9vw;
  border-style: none;
  border-color: white;
  list-style: none;
  justify-content: space-around;
  font-size: large;
  color:white;
  /* margin: 30px; */
  margin: left, right 1vw;
  padding-right: 3vw;
  text-align: center;
}

.App-header {
  background-color: #4A772F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}